{% extends 'base.html' %} {% block content %}
<h1>Tasks</h1>
<p>Tasks list page</p>
<table class="table table-responsive table-bordered table-hover">
  <thead class="table-primary">
    <tr class="row">
      <th class="col-7">Task Name</th>

      <th class="col-3">Task Status</th>
      <th class="col-2">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr class="row">
      <td class="col-7">{{ task.title }}</td>
      <td class="col-2">{{ task.completed }}</td>
      <td class="col-3">
        <span class="d-flex justify-content-between align-items-center flex-row">
          <a href="{% url 'edit' task.id %}" class="btn btn-primary">
            {% if task.completed %} Mark as Uncomplete {% else %} Mark as
            Completed {% endif %}
          </a>

          <a href="{% url 'delete' task.id %}" class="btn btn-danger">Delete</a>
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
    {% if tasks.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{tasks.previous_page_number}}"
        >{{tasks.previous_page_number}}</a
      >
    </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link" href="?page={{tasks.number}}">{{ tasks.number}}</a>
    </li>
    {% if tasks.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{tasks.next_page_number}}"
        >{{tasks.next_page_number}}</a
      >
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="?page={{tasks.num_pages}}">>></a>
    </li>
  </ul>
</nav>
{% endblock %} {% block title%} Task List {% endblock %}
