{% extends 'base.html' %} {% block content %}
<h1>Tasks</h1>
<p>Tasks list page</p>
<table class="table table-responsive table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Task Name</th>

      <th scope="col">Task Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.completed }}</td>
      <td>
        <a href="{% url 'edit' task.id %}" class="btn btn-primary">
          {% if task.completed %} Mark as Uncompleted {% else %} Mark as
          Completed {% endif %}
        </a>

        <a href="{% url 'delete' task.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
    {% if tasks.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{tasks.previous_page_number}}"
        >{{tasks.previous_page_number}}</a
      >
    </li>
    {% endif %}
    
    <li class="page-item">
      <a class="page-link" href="?page={{tasks.number}}">{{ tasks.number}}</a>
    </li>
   {% if tasks.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{tasks.next_page_number}}">{{tasks.next_page_number}}</a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?page={{tasks.num_pages}}">>></a></li>
  </ul>
</nav>
{% endblock %} {% block title%} Task List {% endblock %}
