{% extends 'base.html'%} {% block content %}
<form
  class="col-12 col-md-5 mx-auto p-5 shadow rounded mt-5"
  action="{% url 'task_create' project_id=project.id %}"
  method="POST"
>
  {% csrf_token %}
  <div class="mb-2 mt-2">
    <label for="title" class="form-label mt-2">Task Name:</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Enter task"
      name="title"
    />
    <label for="due_date" class="form-label mt-2">Due Date:</label>
    <input type="date" class="form-control" id="due_date" name="due_date" />
  </div>

  <button type="submit" class="btn btn-primary mt-2">Create task</button>

  <!-- Cancel button to go back to the project detail page -->
  <a
    href="{% url 'project_detail' project_id=project.id %}"
    class="btn btn-secondary mt-2"
    >Cancel</a
  >
</form>

{% endblock %}

{% block title %}Create Task{% endblock %}